<!DOCTYPE html>
<html>
	<head>
		<title>In the Know</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css">
		<link rel="stylesheet" href="<%= env === 'development' ? '/styles/main.scss.css' : '/styles/main.scss.min.css?'+version %>" />

	</head>
	<body>
		<section id="app"></section>
		<!-- new comment -->

		

<!-- 		<input type="filepicker" data-fp-apikey="ABF95lzYQqNV2ewYLYYQyz" onchange="alert(event.fpfile.url)"> -->
		<script type="text/javascript">window.user = <%- user ? JSON.stringify(user) : '{}' %>;</script>
		<script type="text/javascript" src="//api.filestackapi.com/filestack.js"></script>
		<script type="text/javascript" src="<%= env === 'development' ? '/scripts/bundle.js' : '/scripts/bundle.min.js?'+version %>"></script>
	</body>
</html>
