<!DOCTYPE html>
<html>
	<head>
		<title>In the Know</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css">
		<link rel="stylesheet" href="<%= env === 'development' ? '/styles/main.scss.css' : '/styles/main.scss.min.css?'+version %>" />

	</head>
	<body>
		<section id="app"></section>
<!--Come to see some spaghetti code?-->
<!--		               +NMMMMMMMMMN+                                        
                        `/NMMMMMMMMMMMMMN+`                                     
                      `/d+ohMMMMMMMMMMMMMMm+`                                   
                      :MMMM`:hNMMMMMMMMMMMMM:                                   
                      :MMMM  osmMMdoo/+oooNM/                                   
                      :MMMM  dNMMMMNh `NNNMM/                                   
                      :MMMs  dMMMMMm+ `sMyNM/                                   
                      .oyymmmMd:yMMNmmmmy/+y-                                   
                      -y:sMMMM:.-sMMMMMM N/`                                    
                       -y`MMMMdmdmMMMMN: N.                                     
                        ` +mmmmmmmmmmdo  N.                                     
                           ss-+s:/s+-yd  N.    ```````                          
                :++---     sN-hN+oNy-Ns  N. `-/+ymdd+o```                       
               hNMMNo.      .`.-``-.`.   N./o//yds:o:dddd+:.                    
               yNMMMs       -`.`..`.`- -hd. .sds.`:ooooo:yddo.        .--.      
                dMMMmo.    .+`s:++/s.oyMm`.smm+`/hMMMMMMh/`-ymys.-yyyo///+/.    
       `.-ss+   /mMMMMm+.  ddoo+oo+oodm+`.dMy-/hNMMMMMMMMN+`-yMMNdm++.   `+s    
     `:ymNMN. +. /dNMMMMm+`-..........-`+mMy.:hMMMMMMMMMMMN+ -sso..      -:`    
     oNMMMNs `Nm+..+dMMMMMmm+/.``-///+mmMNh+.sMMMMMMMMMMMMM+                    
    oNMMMMd  dMMMm+..+dMMMMMMMmddmMMMMNddohN/+mMMMMMMMMMMMM+                    
    yMMMMMd  MMMMMMm+`:MN/MMMMMMMMNmhoohhMMM+`+NMMMMMMMMMMs.                    
    sNMMMMd  /MMMMMMMy-oNy/modNNy+syhMMMMMMMMo`.sNMMMMMNNo.                     
     sMMMMNo  +NMMMMMMmosm`oNyssshdooosMMMMMMMh: .osssss.                       
     `/dNMMN+  oNMMMMMMMmoo.NMMNNMNh+omMMMMMMMo` `odooos.                       
     :yy//yyy   omMMMMMMMMmmMMMMMMdosNsMMMMMd/`  .osmmo`                        
    .sy///       .-omMMMMMMMMMMMMMdoyMMMMdd/`    :MMMM`                         
  .sNMNo            ./ommmmmmmmmmmmmmd///        :MMMm`                         
 `mMMM+                    ``````                :MMM                           
 +Nyoooooooooooooooooo/    MMMMMMd:              :MMM                           
  `+ssdMMMMMMMMyssss/-++/  ````+s/               :MMM                           
      `........     +NMMMd  :do.                 -hMM                           
                    .--/dh  mMMm/                 -N-                           
         `.  ...   `./ys.   mMMM+                -hh                            
         :mo.mmmyssdNMMMh ` dNNN/                :d``                           
         .yNmss.+smMMMm+.oNo.````                :d`N                           
           `.yMNNNNMMy``+yyymNNNs//////          :d.M                           
              ..shhh+``/hmmmoooyhhhdMMN          :d.M                    .-     
                     :dd.dMMMMMmdddyoo-          :m:h                ---oms     
                     /MNs`/dmMMMMNmho+           -h:-yy`  `.....-yyyymNNMNo     
                     /MMm  ``/+++::hNd`          `:sNmo``+dNNNNNNMMMMMMNy:`     
                     /MNo         -hMMd          -mNM.`/dNMMMMMMMMNNNys:`       
                    .sMd           :MMN/         `.-y dMMMMMMMNyyy...           
                    +MMd           `+MMM:             hhNMMMMMNy:::             
                   /mMd- ---        `+MMM:              -:yddddddd:             
                   +NMh `///+s.      `+mMm. ::`            ```````              
             +.`````:o/  ```sN:        `o. `+do`                                
             .dmmms+////+mmmMy.    .:    `/hNMNo`                               
              -mMMmho-/osMMMM-   .oy- `::dNd/omNo                               
               -yNmhhysdddMMM-   .odhhdMMd/`.odmNo                              
                 yNh+/..-yMMM-     .oNMMMhysds-oMd`                             
                  sNMMMNNNMMM:       `+NMMMy-/dMMMh                             
                  `:hm+...sMMN:        `oNMMNMMMd+-ooooooooo:`                  
            ``//////yNmmmmmMMMs.         .mMMMMy-oNMMMMMMMMMNh:                 
          `/ddMMMMMMMMMMMMMMMMM/          mMMMMNmMMMMMMMMMMMMMd-                
         -dMMMMMMMMMMMMMMMMMMMM/          yNMMMMMMMMMMMMMMMMMMMd                
         -NMMMMMMMMMMMMMMNN////.           hNNNNNNMMMMMMMMMMMMMh                
          `+++++++++++++/                        .++++++++++++: -->
		<script type="text/javascript">window.user = <%- user ? JSON.stringify(user) : '{}' %>;</script>
		<script type="text/javascript" src="//api.filestackapi.com/filestack.js"></script>
		<script type="text/javascript" src="<%= env === 'development' ? '/scripts/bundle.js' : '/scripts/bundle.min.js?'+version %>"></script>
	</body>
</html>
