@import url(https://fonts.googleapis.com/css?family=Lato:400,900,700|Merriweather+Sans:400,700);
@import 'variables';

.yourQuizzes {
	font-family: 'Lato';
	font-size: 1.5rem;
	color: $color-darker-blue;
	margin: 0 0 1rem 1rem;
}
.eachQuiz {
	position: relative;
	div {
		height: 1px;
		background-color: $color-main-black;
		width: 100%;
	}
	p {
		display: inline-block;
		vertical-align: top;
		margin: 0;
		margin-left: 1rem;
		margin-top: 1rem;
		font-family: 'Lato';
		font-weight: 700;
		color: $color-main-black;
		font-size: 1.5rem;
		width: 33%;
	}
	.description {
		display: inline-block;
		margin: 1rem auto 2rem auto;
		width: 35%;
		font-family: 'Merriweather Sans';
		font-weight: 400;
		font-size: 1rem;
	}
	a:nth-child(4) {
		text-decoration: none;
		color: #fff;
		padding: 0.5rem 2.2rem;
		font-family: 'Merriweather Sans';
		background-color: $color-main-blue;
		border-radius: 0.5rem;
		border: 1px solid $color-main-blue;
		position: absolute;
		top: 1.4rem;
		right: 10.7rem;
	    text-transform: uppercase;
	}
	a:last-child {
		text-decoration: none;
		color: #fff;
		padding: 0.5rem 2rem;
		font-family: 'Merriweather Sans';
		background-color: $color-main-blue;
		border-radius: 0.5rem;
		border: 1px solid $color-main-blue;
		position: absolute;
		top: 1.4rem;
		right: 2rem;
	    text-transform: uppercase;
	}
	a:hover {
		background-color: $color-darker-blue;
		border: 1px solid $color-darker-blue;
	}
}