@import url(https://fonts.googleapis.com/css?family=Lato:400,900,700|Merriweather+Sans:400,700);
@import 'variables';

.editPage {
	.filters {
		width: 35%;
		border: 1px solid $color-main-black;
		div {
			border: 2px solid red;
			p {
				width: 76%;
				margin: 1rem auto;
				font-family: 'Lato';
				color: $color-darker-blue;
				font-weight: 700;
				font-size: 1.3rem;
				i {
					background-color: $color-darker-blue;
					color: #fff;
					border-radius: 1em;
					padding: 0.25em;
					float: right;
				}
			}
			select {
				border: 2px solid $color-main-blue;
				background-color: #fff;
				color: $color-main-black;
				line-height: normal;
				font-family: 'Merriweather Sans';
			}
		}
	}
}