@import url(https://fonts.googleapis.com/css?family=Lato:400,900,700|Merriweather+Sans:400,700);
@import 'variables';

.divider {
	height: 2px;
	width: 100%;
	background-color: $color-main-black;
	margin: 0.5em 0;
}

.buttonSelect {
	select {
	    border: 2px solid #4DCBB0;
	    background-color: #fff;
	    color: #404040;
	    line-height: normal;
	    font-family: 'Merriweather Sans';
	    -webkit-appearance: none;
	    padding: 0.5em 5em 0.5em 1em;
	}
	button {
		background-color: #4DCBB0;
	    border: 0.1rem solid #4DCBB0;
	    font-family: 'Lato';
	    border-radius: 0.5rem;
	    color: #fff;
	    font-size: 1rem;
	    font-weight: 700;
	    height: 1.8rem;
	    letter-spacing: .1rem;
	    padding: 0 1.5rem;
	    text-transform: uppercase;
	    float: right;
	    margin: 0 .25rem 0.65rem 0;
	}
}

.editPage {
	.filters {
		width: 35%;
		border: 2px solid $color-darker-blue;
		margin: 0.25em;
		div {
			p {
				width: 76%;
				margin: 1rem auto;
				font-family: 'Lato';
				color: $color-darker-blue;
				font-weight: 700;
				font-size: 1.3rem;
				i {
					background-color: $color-darker-blue;
					color: #fff;
					border-radius: 1em;
					padding: 0.25em;
					float: right;
				}
			}
			select {
				border: 2px solid $color-main-blue;
				background-color: #fff;
				color: $color-main-black;
				line-height: normal;
				font-family: 'Merriweather Sans';
			}
		}
		.nameColorIcon {
			border: none;
			color: $color-main-black;
			label {
				font-family: 'Lato';
				width: 35%;
				input {
					width: 50%;
					margin-right: 50%;
					margin-bottom: 1.5em;
				}
				.colorInput {
					width: 10%;
					margin-right: 0;
					margin-bottom: 0.5em;
				}
				select {
					float: right;
				}
			}
			label:last-child {
				float: right;
				margin-top: 0.25rem;
			}
		}
		.orderPosition {
			position: relative;
			font-family: 'Lato';
			color: $color-main-black;
			.x-axis {
				margin: 0;
			}
			.number {
				display: block;
			}
			.range {
				display: block;
			}
			.range2 {
				margin-right: 65%;
			}
		}
		.imageQuestion {
			font-family: 'Lato';
			button {
				background-color: #4DCBB0;
			    border: 0.1rem solid #4DCBB0;
			    font-family: 'Lato';
			    border-radius: 0.5rem;
			    color: #fff;
			    font-size: 1rem;
			    font-weight: 700;
			    height: 1.8rem;
			    letter-spacing: .1rem;
			    padding: 0 1.5rem;
			    text-transform: uppercase;
			    margin: 0 .25rem 0.65rem 0;
			}
			label {
				display: block;
				input {
					width: 97%;
					font-family: 'Merriweather Sans';
				}
			}
		}	
	}
}