@import url(https://fonts.googleapis.com/css?family=Lato:400,900,700|Merriweather+Sans:400,700);
@import 'variables';

body {
	margin: 0;
	background-color: $color-main-light-gray;
}

img {
	height: 350px;
	width: 500px;
}

h1 {
	font-family: 'Lato';
	font-size: 1.5rem;
	color: $color-darker-blue;
}

.viewQuizzes {
	margin: 0 auto;
	width: 25%;
}

.inactive {
	display: none;
}

