@import url(https://fonts.googleapis.com/css?family=Lato:400,900,700|Merriweather+Sans:400,700);
@import 'variables';

.rayon-spacer {
	padding: 5em;
	position: absolute;
	z-index: 11;
	width: 100%;
	max-width: 50em;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	top: 0;
	box-sizing: border-box;	
}

.rayon-no-overflow {
	overflow: hidden;
}

.rayon {
	background-color: #fff;
	box-sizing: border-box;
	background: #fff;
	top: 6em;
	padding: 2.5em;
	overflow: hidden;

	header {
		padding: 1em;
		background: #ccc;
		overflow: hidden;

		.title {
			float: left;
		}

		.close {
			display: block;
			float: right;
			background: none;
			border: 0;
			cursor: pointer;
		}
	}

	section {
		top: 0;
		padding: 1em;
		box-sizing: border-box;
		text-align: left;
		z-index: 12;
	}

	footer {
		padding: 1em;
		background: #ccc;
		overflow: hidden;
	}
	p {
		font-family: 'Lato';
		font-weight: 700;
		font-size: 1.9rem;
		color: $color-main-black;
		margin: 0;
		margin-bottom: 2rem;
	}
	label {
		font-family: 'Lato';
		font-weight: 700;
		font-size: 1.9rem;
		color: $color-main-black;
		input {
			font-family: 'Merriweather Sans';
			width: 99%;
			height: 2em;
			font-size: 1.15rem;
			margin-bottom: 1rem;
			margin-top: 1rem;
		}
		.description {
			font-family: 'Merriweather Sans';
			width: 99%;
			height: 8em;
			font-size: 1.15rem;
			margin-bottom: 1rem;
			margin-top: 1rem;
		}
	}
	button {
		background-color: $color-main-blue;
	    border: .1rem solid $color-main-blue;
	    font-family: 'Lato';
	    border-radius: 0.5rem;
	    color: #fff;
	    display: inline-block;
	    font-size: 1.15rem;
	    font-weight: 700;
	    height: 2.5rem;
	    letter-spacing: .1rem;
	    line-height: 2.5rem;
	    padding: 0 2.5rem;
	    text-align: center;
	    text-decoration: none;
	    text-transform: uppercase;
	    white-space: nowrap;
	    float: right;
	    margin-left: 1rem;
	}
	button:hover {
		background-color: $color-darker-blue;
		border: .1rem solid $color-darker-blue;
	}	
}

.rayon-overlay {
	position: fixed;
	top: 0;
	left: 0;
	min-height: 100%;
	width: 100%;
	z-index: 10;
	background-color: rgba(0, 0, 0, 0.5);
}